@import "tailwindcss";
@import "@heroui/styles";
@import "./theme.css";

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family:
    var(--font-poppins, Poppins), var(--font-inter, Inter), sans-serif;
}
